<ng-template #content let-modal>
    <div class="modal-header" style="text-align:center">
      <h1  style="text-align:center">{{currentPokemon.name}}</h1>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <img class="card-img-top" src={{currentPokemon.sprite}} alt="Card image cap">
         
          <div class="input-group">
          
            <div class="input-group-append">
             
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="modal-body">
      <form>
        <div class="form-group">
         <hr>
        
          <div class="input-group">
            <h4 style="text-align:center">Type:     {{currentPokemon.type1}} </h4><h4 *ngIf="currentPokemon.type2 != currentPokemon.type1">{{currentPokemon.type2}}</h4>
            <div class="input-group-append">
             
            </div>
          </div>
        </div>
      </form>
    </div>
    
    <div class="modal-body">
      <form>
        <div class="form-group">
         <hr>
        
          <div class="input-group" >
            <h4 >Evolution Chain: <br>
            
              <button type="button" class="btn btn-secondary" (click)="showEvolution1()">{{evolutions1}}</button> 
              <button  type="button" *ngIf="evolutions2" class="btn btn-secondary"(click)="showEvolution2()">{{evolutions2}}</button>
              <button type="button" *ngIf="evolutions3" class="btn btn-secondary"(click)="showEvolution3()">{{evolutions3}}</button></h4>
            
          </div>
        </div>
      </form>
    </div>